# Activity - Data Analysis

In [2]:
import pandas as pd

Let's work with a _Heart Disease_ dataset, all the details are in the following [link](https://archive-beta.ics.uci.edu/dataset/45/heart+disease).

In this activity you should:

1. Read the dataset correctly.
1. Perform descriptive statistics of the dataset.
1. Explore the dataset.

You can find some ideas [here](https://pandas.pydata.org/docs/getting_started/intro_tutorials/06_calculate_statistics.html) and in the documetantion of `pandas`.

Share your finds with the rest of the group.

1. What are the variables you think would be useful for predicting a heart disease?
1. Is there any chart/plot that could help you to understand this dataset better?
1. Did you find anything interesting?

## Read dataset

In [1]:
data_filepath = "https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.cleveland.data"

In [3]:
heart_df = pd.read_csv(
    data_filepath,
    names=[#FIXME#]
)
heart_df.head()

,63.0,1.0,1.0.1,145.0,233.0,1.0.2,2.0,150.0,0.0,2.3,3.0,0.0.1,6.0,0
0,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
1,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
2,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
3,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
4,56.0,1.0,2.0,120.0,236.0,0.0,0.0,178.0,0.0,0.8,1.0,0.0,3.0,0

## Descripitive Statistics

In [ ]:
# Play here

## Data Exploration

In [6]:
# Play here