# Data Analysis

The main goal of this class is to introduce you some data analysis common tasks using the `pandas` package.

> `pandas` is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python programming language.
>
> --<cite> https://pandas.pydata.org </cite>--

In [1]:
import pandas as pd

# from pathlib import Path  # Run this line if you are working in a local environment

## Dataset: Breast Cancer Wisconsin

Features are computed from a digitized image of a fine needle aspirate (FNA) of a breast mass. They describe characteristics of the cell nuclei present in the image.

This breast cancer databases was obtained from the University of Wisconsin Hospitals, Madison from Dr. William H. Wolberg.

Source: https://archive.ics.uci.edu/ml/datasets/Breast+Cancer+Wisconsin+%28Diagnostic%29


| Attribute                   | Domain  |
|-----------------------------|---------|
| Sample code number          | id number |
| Clump Thickness             | 1 - 10 |
| Uniformity of Cell Size     | 1 - 10 |
| Uniformity of Cell Shape    | 1 - 10 |
| Marginal Adhesion           | 1 - 10 |
| Single Epithelial Cell Size | 1 - 10 |
| Bare Nuclei                 | 1 - 10 |
| Bland Chromatin             | 1 - 10 |
| Normal Nucleoli             | 1 - 10 |
| Mitoses                     |  1 - 10 |
| Class                       |  (2 for benign, 4 for malignant) |

In [2]:
data_filepath = "https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data"
# data_filepath = Path().resolve().parent / "data" / "breast-cancer-wisconsin.data"
data_filepath

'https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data'

More details in the following file you can download: https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.names

The easiest way to open a plain text file as this one is using `pd.read_csv`.

In [5]:
breast_cancer_data = pd.read_csv(
    data_filepath ,
    names=[
        "code",
        "clump_thickness",
        "uniformity_cell_size",
        "uniformity_cell_shape",
        "marginal_adhesion",
        "single_epithelial_cell_size",
        "bare_nuclei",
        "bland_chromatin",
        "normal_cucleoli",
        "mitoses",
        "class",
    ],
    index_col=0
)
breast_cancer_data.head()

,clump_thickness,uniformity_cell_size,uniformity_cell_shape,marginal_adhesion,single_epithelial_cell_size,bare_nuclei,bland_chromatin,normal_cucleoli,mitoses,class
code,,,,,,,,,,
1000025,5,1,1,1,2,1,3,1,1,2
1002945,5,4,4,5,7,10,3,2,1,2
1015425,3,1,1,1,2,2,3,1,1,2
1016277,6,8,8,1,3,4,3,7,1,2
1017023,4,1,1,3,2,1,3,1,1,2

Let's explore this data a little bit before start working with it.

In [6]:
breast_cancer_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 699 entries, 1000025 to 897471
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   clump_thickness              699 non-null    int64
 1   uniformity_cell_size         699 non-null    int64
 2   uniformity_cell_shape        699 non-null    int64
 3   marginal_adhesion            699 non-null    int64
 4   single_epithelial_cell_size  699 non-null    int64
 5   bare_nuclei                  699 non-null    object
 6   bland_chromatin              699 non-null    int64
 7   normal_cucleoli              699 non-null    int64
 8   mitoses                      699 non-null    int64
 9   class                        699 non-null    int64
dtypes: int64(9), object(1)
memory usage: 60.1+ KB

In [8]:
breast_cancer_data.dtypes

clump_thickness                 int64
uniformity_cell_size            int64
uniformity_cell_shape           int64
marginal_adhesion               int64
single_epithelial_cell_size     int64
bare_nuclei                    object
bland_chromatin                 int64
normal_cucleoli                 int64
mitoses                         int64
class                           int64
dtype: object

In [9]:
breast_cancer_data.describe()

,clump_thickness,uniformity_cell_size,uniformity_cell_shape,marginal_adhesion,single_epithelial_cell_size,bland_chromatin,normal_cucleoli,mitoses,class
count,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,4.417740,3.134478,3.207439,2.806867,3.216023,3.437768,2.866953,1.589413,2.689557
std,2.815741,3.051459,2.971913,2.855379,2.214300,2.438364,3.053634,1.715078,0.951273
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000
50%,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,2.000000
75%,6.000000,5.000000,5.000000,4.000000,4.000000,5.000000,4.000000,1.000000,4.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [10]:
breast_cancer_data.describe(include="all")

,clump_thickness,uniformity_cell_size,uniformity_cell_shape,marginal_adhesion,single_epithelial_cell_size,bare_nuclei,bland_chromatin,normal_cucleoli,mitoses,class
count,699.000000,699.000000,699.000000,699.000000,699.000000,699,699.000000,699.000000,699.000000,699.000000
unique,NaN,NaN,NaN,NaN,NaN,11,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,402,NaN,NaN,NaN,NaN
mean,4.417740,3.134478,3.207439,2.806867,3.216023,NaN,3.437768,2.866953,1.589413,2.689557
std,2.815741,3.051459,2.971913,2.855379,2.214300,NaN,2.438364,3.053634,1.715078,0.951273
min,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,1.000000,1.000000,1.000000,2.000000
25%,2.000000,1.000000,1.000000,1.000000,2.000000,NaN,2.000000,1.000000,1.000000,2.000000
50%,4.000000,1.000000,1.000000,1.000000,2.000000,NaN,3.000000,1.000000,1.000000,2.000000
75%,6.000000,5.000000,5.000000,4.000000,4.000000,NaN,5.000000,4.000000,1.000000,4.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,10.000000,10.000000,10.000000,4.000000

## Series

Series are one-dimensional labeled arrays. You can think they are similar to columns of a excel spreadsheet.

There are multiple ways to create a `pd.Series`, using lists, dictionaies, `np.array` or from a file. 

Since we already loaded the breast cancer data we will use it as an example. Each list of this file has been converted to a `pd.Series`.

In [11]:
clump_thick_series = breast_cancer_data["clump_thickness"]
clump_thick_series.head()

code
1000025    5
1002945    5
1015425    3
1016277    6
1017023    4
Name: clump_thickness, dtype: int64

In [12]:
type(clump_thick_series)

pandas.core.series.Series

`pd.Series` are made with _index_ and _values_.

In [13]:
clump_thick_series.index

Int64Index([1000025, 1002945, 1015425, 1016277, 1017023, 1017122, 1018099,
            1018561, 1033078, 1033078,
            ...
             654546,  654546,  695091,  714039,  763235,  776715,  841769,
             888820,  897471,  897471],
           dtype='int64', name='code', length=699)

In [14]:
clump_thick_series.values

array([ 5,  5,  3,  6,  4,  8,  1,  2,  2,  4,  1,  2,  5,  1,  8,  7,  4,
        4, 10,  6,  7, 10,  3,  8,  1,  5,  3,  5,  2,  1,  3,  2, 10,  2,
        3,  2, 10,  6,  5,  2,  6, 10,  6,  5, 10,  1,  3,  1,  4,  7,  9,
        5, 10,  5, 10, 10,  8,  8,  5,  9,  5,  1,  9,  6,  1, 10,  4,  5,
        8,  1,  5,  6,  1,  9, 10,  1,  1,  5,  3,  2,  2,  4,  5,  3,  3,
        5,  3,  3,  4,  2,  1,  3,  4,  1,  2,  1,  2,  5,  9,  7, 10,  2,
        4,  8, 10,  7, 10,  1,  1,  6,  1,  8, 10, 10,  3,  1,  8,  4,  1,
        3,  1,  4, 10,  5,  5,  1,  7,  3,  8,  1,  5,  2,  5,  3,  3,  5,
        4,  3,  4,  1,  3,  2,  9,  1,  2,  1,  3,  1,  3,  8,  1,  7, 10,
        4,  1,  5,  1,  2,  1,  9, 10,  4,  3,  1,  5,  4,  5, 10,  3,  1,
        3,  1,  1,  6,  8,  5,  2,  5,  4,  5,  1,  1,  6,  5,  8,  2,  1,
       10,  5,  1, 10,  7,  5,  1,  3,  4,  8,  5,  1,  3,  9, 10,  1,  5,
        1,  5, 10,  1,  1,  5,  8,  8,  1, 10, 10,  8,  1,  1,  6,  6,  1,
       10,  4,  7, 10,  1, 10,  8,  1, 10,  7,  6,  8, 10,  3,  3, 10,  9,
        8, 10,  5,  3,  2,  1,  1,  5,  8,  8,  4,  3,  1, 10,  6,  6,  9,
        5,  3,  3,  3,  5, 10,  5,  8, 10,  7,  5, 10,  3, 10,  1,  8,  5,
        3,  7,  3,  3,  3,  1,  1, 10,  3,  2,  1, 10,  7,  8, 10,  3,  6,
        5,  1,  1,  8, 10,  1,  5,  5,  5,  8,  9,  8,  1, 10,  1,  8, 10,
        1,  1,  7,  3,  2,  1,  8,  1,  1,  4,  5,  6,  1,  4,  7,  3,  3,
        5,  1,  3, 10,  1,  8, 10, 10,  5,  5,  5,  8,  1,  6,  1,  1,  8,
       10,  1,  2,  1,  7,  1,  5,  1,  3,  4,  5,  2,  3,  2,  1,  4,  5,
        8,  8, 10,  6,  3,  3,  4,  2,  2,  6,  5,  1,  1,  4,  1,  4,  5,
        3,  1,  1,  1,  3,  5,  1, 10,  3,  2,  2,  3,  7,  5,  2,  5,  1,
       10,  3,  1,  1,  3,  3,  4,  3,  1,  3,  3,  5,  3,  1,  1,  4,  1,
        2,  3,  1,  1, 10,  5,  8,  3,  8,  1,  5,  2,  3, 10,  4,  5,  3,
        9,  5,  8,  1,  2,  1,  5,  5,  3,  6, 10, 10,  4,  4,  5, 10,  5,
        1,  1,  5,  2,  1,  5,  1,  5,  4,  5,  3,  4,  2, 10, 10,  8,  5,
        5,  5,  3,  6,  4,  4, 10, 10,  6,  4,  1,  3,  6,  6,  4,  5,  3,
        4,  4,  5,  4,  5,  5,  9,  8,  5,  1,  3, 10,  3,  6,  1,  5,  4,
        5,  5,  3,  1,  4,  4,  4,  6,  4,  4,  4,  1,  3,  8,  1,  5,  2,
        1,  5,  5,  3,  6,  4,  1,  1,  3,  4,  1,  4, 10,  7,  3,  3,  4,
        4,  6,  4,  7,  4,  1,  3,  2,  1,  5,  5,  4,  6,  5,  3,  5,  4,
        2,  5,  6,  2,  3,  7,  3,  1,  3,  4,  3,  4,  5,  5,  2,  5,  5,
        5,  1,  3,  4,  5,  3,  4,  8, 10,  8,  7,  3,  1, 10,  5,  5,  1,
        1,  1,  5,  5,  6,  3,  5,  1,  8,  5,  9,  5,  4,  2, 10,  5,  4,
        5,  4,  5,  3,  5,  3,  1,  4,  5,  5, 10,  4,  1,  5,  5, 10,  5,
        8,  2,  2,  4,  3,  1,  4,  5,  3,  6,  7,  1,  5,  3,  4,  2,  2,
        4,  6,  5,  1,  8,  3,  3, 10,  4,  4,  5,  4,  3,  3,  1,  2,  3,
        1,  1,  5,  3,  3,  1,  5,  4,  3,  3,  5,  5,  7,  1,  1,  4,  1,
        1,  3,  1,  5,  3,  5,  5,  3,  3,  2,  5,  1,  4,  1,  5,  1,  2,
       10,  5,  5,  1,  1,  1,  1,  3,  4,  1,  1,  5,  3,  3,  3,  2,  5,
        4,  4])

Now, imagine you want to access to a specific value from the third patient.

In [15]:
clump_thick_series.iloc[2]  # Remember Python is a 0-indexed progamming language.

3

However what if you want to know the clump thickness of a specific patient. Since we have their codes we can access with another method.

For example, for patient's code `1166654`

In [16]:
clump_thick_series.loc[1166654]

10

Don't forget

* `loc` refers to indexes (__labels__).
* `iloc` refers to order.

We will focus on `loc` instead of `iloc` since the power of `pandas` comes from its indexes can be numeric or categoricals. If you only need to do order-based analysis `pandas` could be overkill and `numpy` could be enough.

What if you want to get the values of several patients? For example patients `1166654` and `1178580`

In [ ]:
clump_thick_series.loc[[1166654, 1178580]]

```{important}
Notice if the argument is just one label the `loc` returns only the value. On the other hand, if the argument is a list then `loc` returns a `pd.Series` object.
```

In [ ]:
type(clump_thick_series.loc[1166654])

In [ ]:
type(clump_thick_series.loc[[1166654, 1178580]])

You can even edit or add values with these methods.

For instance, what if the dataset is wrong about patient `1166654` and clump thickness should have been `4` instead of `5`? 

We can fix that easily.

In [ ]:
clump_thick_series.loc[1166654] = 6

Youe may got a `SettingWithCopyWarning` message after running the last code cell. I would suggest you to read the link cited after that warning. But in simple words, `loc` returns a __view__, that means if you change anything it will change the main object itself. This is a feature, not an error. We have to be careful with this in the future.

Ok, let's check that change we made

In [ ]:
clump_thick_series.loc[1166654]

Another common mask is when you want to filter by a condition.

For example, let's get all the patients with a clump thickness greater than 7.

In [ ]:
clump_thick_series > 7

You can do logical comparations with `pd.Series` but this only will return another `pd.Series` of boolean objects (True/False). We want to keep only those ones where the value is true.

In [ ]:
clump_thick_series.loc[clump_thick_series > 7]

You can avoid using `loc` in this task but to be honest I rather use it.

In [ ]:
clump_thick_series[clump_thick_series > 7]

However, my favorite version is using a functional approach with the function `lambda`. It is less intuitive at the beginning but it allows you to concatenate operations.

In [ ]:
clump_thick_series.loc[lambda x: x > 7]

## DataFrames

`pd.DataFrame` are 2-dimensional arrays with horizontal and vertical labels (_indexes_ and _columns_). It is the natural extension of `pd.Series` and you can even think they are a multiple `pd.Series` concatenated.

In [ ]:
type(breast_cancer_data)

There are a few useful methods for exploring the data, let's explore some of them.

In [ ]:
breast_cancer_data.shape

In [ ]:
breast_cancer_data.head()

In [ ]:
breast_cancer_data.tail()

In [ ]:
breast_cancer_data.max()

In [ ]:
breast_cancer_data.mean()

We can inspectionate values using `loc` as well

In [19]:
breast_cancer_data.loc[1166654]

clump_thickness                10
uniformity_cell_size            3
uniformity_cell_shape           5
marginal_adhesion               1
single_epithelial_cell_size    10
bare_nuclei                     5
bland_chromatin                 3
normal_cucleoli                10
mitoses                         2
class                           4
Name: 1166654, dtype: object

However, you don't need to do a double `loc`.

In [ ]:
breast_cancer_data.loc[1166654].loc["clump_thickness"]

Just use a double index notation

In [ ]:
breast_cancer_data.loc[1166654, "clump_thickness"]

In [ ]:
breast_cancer_data.loc[1166654, ["clump_thickness", "class"]]

In [ ]:
breast_cancer_data.loc[[1166654, 1178580], ["clump_thickness", "class"]]

Boolean masks also work

In [20]:
breast_cancer_data.loc[lambda x: x["clump_thickness"] > 7]

,clump_thickness,uniformity_cell_size,uniformity_cell_shape,marginal_adhesion,single_epithelial_cell_size,bare_nuclei,bland_chromatin,normal_cucleoli,mitoses,class
code,,,,,,,,,,
1017122,8,10,10,8,7,10,9,7,1,4
1044572,8,7,5,10,7,9,5,5,4,4
1050670,10,7,7,6,4,10,4,1,2,4
1054593,10,5,5,3,6,7,7,10,1,4
1057013,8,4,5,1,2,?,7,3,1,4
...,...,...,...,...,...,...,...,...,...,...
736150,10,4,3,10,3,10,7,1,2,4
822829,8,10,10,10,6,10,10,10,10,4
1253955,8,7,4,4,5,3,5,10,1,4
1268952,10,10,7,8,7,1,10,10,3,4
1369821,10,10,10,10,5,10,10,10,7,4

Or getting a specific column

In [ ]:
breast_cancer_data.loc[:, "bare_nuclei"]

However, you can also access directly to a column without `loc`.

In [22]:
breast_cancer_data["bare_nuclei"]

code
1000025     1
1002945    10
1015425     2
1016277     4
1017023     1
           ..
776715      2
841769      1
888820      3
897471      4
897471      5
Name: bare_nuclei, Length: 699, dtype: object

There are some cool methods you can use for exploring your data

In [ ]:
breast_cancer_data.loc[:, "bare_nuclei"].value_counts()

What about with those `?` values?

They are representing a missing value!

In [ ]:
breast_cancer_data.loc[lambda s: s['bare_nuclei'] == '?']

`pandas` has a specific object for denoting null values, `pd.NA`.

In [24]:
breast_cancer_data.loc[lambda s: s['bare_nuclei'] == '?',  'bare_nuclei'] = pd.NA

In [25]:
breast_cancer_data.loc[lambda s: s['bare_nuclei'] == pd.NA]

Empty DataFrame
Columns: [clump_thickness, uniformity_cell_size, uniformity_cell_shape, marginal_adhesion, single_epithelial_cell_size, bare_nuclei, bland_chromatin, normal_cucleoli, mitoses, class]
Index: []

Wait a second, why is it not showing me the null values?

In [26]:
pd.NA == pd.NA

There are special methods for working with null values

In [ ]:
breast_cancer_data.loc[lambda s: s['bare_nuclei'].isnull()]

In [ ]:
breast_cancer_data.isnull()

In [ ]:
breast_cancer_data.isnull().any()

In [ ]:
breast_cancer_data.isnull().any(axis=1)

In [ ]:
breast_cancer_data.fillna?

In [ ]:
pd.to_numeric(breast_cancer_data['bare_nuclei'])

In [ ]:
breast_cancer_data['bare_nuclei'] = pd.to_numeric(breast_cancer_data['bare_nuclei'])

In [ ]:
breast_cancer_data['bare_nuclei'].isnull().any()

In [ ]:
breast_cancer_data['bare_nuclei'].mean()

In [ ]:
import numpy as np

In [ ]:
bare_nuclei_mean = np.ceil(breast_cancer_data['bare_nuclei'].mean())
bare_nuclei_mean

In [ ]:
breast_cancer_data.fillna(value={'bare_nuclei': bare_nuclei_mean})

In [ ]:
breast_cancer_data.isnull().any()

What?

In [ ]:
breast_cancer_data.fillna(value={'bare_nuclei': bare_nuclei_mean}, inplace=True)

In [ ]:
breast_cancer_data.isnull().any()

In [ ]:
breast_cancer_data = breast_cancer_data.fillna(value={'bare_nuclei': bare_nuclei_mean})

### Summary

- Data set exploration
- Pandas Series
- Pandas DataFrames
- Missing Values